<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Where can I use BitCrystals?</summary>
          <p>BitCrystals will be accepted on Moonga and Spells of Genesis mobile games and can be traded on Cryptsy.
          </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How much are BitCrystals worth?</summary>
          <p>To be initially offered at the rate of 15,000 BitCrystals per BTC ($0.016 per BitCrystals), the price of the BitCrystals will increase every 5 days.<br><br> <img src="https://www.filepicker.io/api/file/c1HCVf26SLWtj24tD5JC/convert?w=400&fit=scale&quality=100"></p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How many BitCrystals exist?</summary>
          <p>There is a limited supply of 100,000,000 BitCrystals which can be used (burned) to create new card packs or traded with other players in Spells of Genesis. 70,000,000 BitCrystals will be available during the Token Sale, about 30,000,000 BitCrystals are being distributed amongst early adopters and investors before the Sale start. After the Token Sale, all unsold BitCrystals will be burned.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Can I buy BitCrystals later?</summary>
          <p>Unfortunately BitCrystals will only be sold during the Token Sale which ends after 30 days or when all the BitCrystals are sold, whichever occurs first. Unsold BitCrystals will be burned afterwards.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Where is the money going?</summary>
          <p>EverdreamSoft (EDS) will be collecting funds during the token sale to support and further the development of Spells of Genesis as well as future ideas. The proceeds from the BitCrystals Token Sale will go to Gutenberg, the project code name for our platform which burns BitCrystals in order to issue new digital game items to players and backers.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>How will the token funds be handled?</summary>
          <p>We will convert up to 70% BTC to USD during the token sale. All USD assets will be held in a multi signature account (by seperate key officers) until the milestones are reached and funds are released.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Why are you doing this?</summary>
          <p>Our aim is to transform the free-to-play mobile game economy by creating a fairer ecosystem where players freely share and trade their digital assets, the same way they can do so with physical objects in real life.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Whats your objective?</summary>
          <p>Our motivation in developing SoG stems from our desire to create a game in strong cooperation with the community. With Moonga, our main trading card game, we were among the first to have a free-to-play game on the AppStore in 2009. Since then, the genre has evolved in unexpected ways. We saw some of our players trading rare cards for more than 1000 USD, even if it was not allowed by the terms of service. A whole economy emerged in the game. This inspired us to conceptualise how we could go beyond that and leverage digital goods ownership.
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
