<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What are BitCrystals?
      </h3>
      <p>
        BitCrystals are digital assets acting as both the game-fuel and the premium in-game currency for Spells of Genesis, an upcoming game part of the Moonga mobile gaming community. They are created using Counterparty, a protocol that enables tokens to be created and exchanged on the Bitcoin Blockchain.
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        BitCrystals will be accepted in the Moonga and Spells of Genesis mobile game for purchasing cards and game items. Players will own their game items and cards in the game world but also on the blockchain, meaning they will be able to trade them freely within as well as outside the game.
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        What is a token sale?
      </h3>
      <p>
        The BitCrystal Token Sale is a crowdfund. When you buy BitCrystals, you become a backer of the project. This means you get rewarded with the game’s premium currency while funding its development. 
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Trade game assets, play card packs, exchange BitCrystals!
      </h3>
      <p>
        We believe players should have full ownership of their game items. Once a player acquires a game asset, they should be free to own and trade it. Unlike other games, we believe players should be able to keep their assets outside the game database and be completely independent with it. </p>
    </div>
  </div>
</div>
