<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Milestone 1 </h4><p><center><i>(release 33% of funds raised)</center></i><br><br>
      <p>Alpha version of Spells of Genesis with 10 different game levels. The game will allow to connect a Counterwallet and transfer card assets. Extra levels will be available. For example if a player owns 100 GEMZ a special GEMZ level will be playable. A player will be able to view their assets on Counterwallet as digital game items.</p>
    </li>
    <li id="section-2">
      <h4>Milestone 2 </h4><p><center><i>(release 33% of funds raised)</center></i><br><br>
      <p>Fully featured beta version of the game with all components present. Several levels will be playable, the game interface and story will be complete. The game will have a wallet and payment method.

</p>
    </li>
    <li id="section-3">
      <h4>Milestone 3 </h4><p><center><i>(release 34% of funds raised)</i></center><br><br>
      Final development of the game with over 100 game levels and 150+ cards. With the ability for players to play in groups (guilds), to create their own levels, characters as digital asset, and also trade them.</p>
    </li>
 
  </ul>
</div>
