<div id='logos'>
  <ul class="wrapper clearfix">
    <li id="awesomeblog"><a href="venturebeat.com">Venture Beat</a></li>
    <li id="coolpaper"><a href="cointelegraph.com">Cointelegraph</a></li>
    <li id="nicemag"><a href="newsbtc.com">News BTC</a></li>
    <li id="readcrunch"><a href="bitcoinmagazine.com">Bitcoin Magazine</a></li>
  </ul>
</div>
